.main{
    width: 98vw;
    height: 100vh;
}

.child{
    
    margin-top: 25px;
    width: 150px;
}
.button{
    position: absolute;
    left: 400px;
    top: 45px;
    justify-content: space-between;
}
button{
    background-color: black;
    color: white;
    width: 80px;
    height: 40px;
    margin-left: 20px;
}
.button a{
    margin-right: 15px;
}

.heading{
    margin-top: 60px;
    width: 600px;
}
.searchonp{
    margin-top: 60px;
    width: 650px;
}
.input1{
    width: 650px;
    height: 50px;
}
.find{
    width: 80px;
    height: 50px;
    position: absolute;
    left: 563px;
    background-color: #fc8019
}
*{
    text-decoration: none;
    list-style: none;
    padding: 0px;
    margin: 0px;

    
}

.a-class{
    color: black;
}
.food{
    height: 300px;
    
}

.foodimage{
    width: 540px;
    height: 480px;
    position: absolute;
    right: 11px;
    top: 0px;
}


.offerfood{
    width: 98vw;
    position: absolute;
    top: 480px;
    /* margin-left: 0px; */
    height: 400px;
}

#ads{
    width: 98vw;
    height: 600px;
    margin-top: 190px;
}
#ads h1{
    font-size: 50px;
    padding-left: 5%;
    padding-top: 10%;
}
#ads p{
    padding-left: 5%;
    color: gray;
    
}

#ads img{
    width: 140px;
    position: relative;
    left: 5%;
}
.phone1{
    width: 400px;
    position: absolute;
    left: 40%;
    top: 145%;
}
.phone2{
    width: 400px ;
    height: 70%;
    position: absolute;
    right: 0%;
    top: 165%;

}

.footer{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    color: white;
    background-color: black;
    padding: 44px;
}
.footer .list{
    margin-inline: 33px;
}
    